.modal-backdrop {
  background-color: #54345f;
}

.reset_password {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: rgba(4, 20, 123, 1);
}
.email_text {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(146, 146, 146, 1);
}
